.main {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding: 20rem;
  min-height: 100vh;
}

.h1 {
  padding: 20px;
  text-align: left;
  font-family: Orbitron;
  font-size: 75px;
  max-width: 100%;
}

.h2 {
  text-align: left;
  font-family: Caviar Dreams;
}

.h3 {
  text-align: left;
  font-family: Caviar Dreams;
}

.footer {
  text-align: center;
  margin-top: 20px;
} 
