.main {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: row;
  width: 100%;
  margin: 100px;
  flex-wrap: wrap;
}

.h1 {
  padding: 20px;
  text-align: left;
  font-family: Orbitron;
  font-size: 75px;
  max-width: 100%;
}

.h2 {
  text-align: left;
  font-family: Caviar Dreams;
}

.h3 {
  text-align: left;
  font-family: Caviar Dreams;
}

.section {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  max-width: 340px;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #333;
}

.footer {
  text-align: center;
  margin-top: 20px;
} 
